@import "colors";

.bg-gris {
	background-color: $gris;
}
.filters-container {
	background-color: $grisUp;
	color: $grisOscuro;
	padding: 25px; // 15px por defecto + 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.order-filter {
	margin-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;

}
.header-ppal,.filters-header {
	background-color: $azul;
	color: $grisUp;
	&:hover {
		cursor: pointer;
	}
	h3 {
		display: block;
		margin-top: 10px;
		font-size: 16px;
		.glyphicon-ok-sign, .glyphicon-filter {
			margin-right: 10px;
		}
		
	}
	.glyphicon-chevron-down, .glyphicon-chevron-up {
			position: absolute;
			right: 10px;
			line-height: 40px;
	}
	.glyphicon-chevron-down {
		display: none;
	}
}
.filters-header {
	background-color: $grisOscuro;
}
.filter-header {
	border-top: 4px solid $grisUp;
	color: $grisOscuro;
	margin-bottom: 10px;
	h3 {
		margin-top: 10px;
		font-size: 16px;
		.fa-trash-o:hover{
			cursor: pointer;
			color: $danger;
		}
	}
}
.filter-content {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 20px;
	&:last-child {
		padding-bottom: 20px;
	}
	.checkbox { // reseteo de los margenes de boots
		margin-top: 0;
		margin-bottom: 0;
	}
	.form-group { // reseteo de los margenes de boots
		margin-bottom: 0;
	}
	.alert { // estilo alertaas de boots en filtros aplicados
		padding: 5px;
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: 10px;
		}
	}
}
.precio-label {
	font-size: 12px;
	font-weight: bold;
}
.slider, .slider-horizontal {
	max-width: 180px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	.slider-handle {
		background-color: $naranja;
		background-image: none;
	}
}
#filtros_contenido, #filtros_aplicados_contenido {
	display: inline;
}


@media (max-width: 767px) {
	.header-ppal,.filters-header {
		.glyphicon-chevron-down {
			display: inline;
		}
		.glyphicon-chevron-up {
			display: none;
		}
	}

	#filtros_contenido, #filtros_aplicados_contenido {
		display: none;
	}
}