// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.main-header{
	height: 500px;
	padding-top: 80px;
	background-image: url("/images/1.jpg");
	background-size: cover;

	.main-search {
		h1{
			color: $blanco;
			text-shadow: 1px 1px 6px #000;
			margin-bottom: 15px;
			margin-left: -15px;
		}
		.busqueda {
			background-color: rgba(41, 41, 41, 0.7);
			padding: 15px;
			box-shadow: 0 0 20px 0 ;
			.btn-default {
				background-color: $naranja;
				color: $blanco;
				&:hover {
					background-color: $naranjaUp;
				}
			}
		}
		.publicar {
			background-color: rgba(41, 41, 41, 0.7);
			padding-left: 15px;
			margin-top: 15px;
			box-shadow: 0 0 20px 0 ;
			h5 {
				color: $naranjaLight;
				.glyphicon {
					margin-right: 10px;
				}
			}
		}
		.segmento {
			.col-xs-2 {
				padding: 0;
				background-color: rgba(41, 41, 41, 0.85);
				margin-bottom: 15px;
				margin-left: 1px;
				margin-right: 1px;
				width: 16.4%;
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}
				&:hover {
					background-color: rgba( 255, 153, 0, 0.7);
				}
			}
			a {
				text-decoration: none;
				display: block;
			}
			h4 {
				color: $blanco;
				padding: 15px;
				text-shadow: 1px 1px 3px #000;
			}
		}
	}		
}

section {
	padding-bottom: 30px;

	article {
		.row {
			padding-bottom: 15px;
		}
	}
}

.icon{
	height: 25px;
	margin-bottom: 5px;
	margin-top: 5px;
}

@media (max-width: 767px) {
	.main-header{
		height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
		background: $grisOscuro;
		h4 {
			padding-left: 15px;
			color: $gris;
		}
		.nav > li > a {
			color: $naranja;
			padding-left: 30px;
			border-radius: 0;
			font-size: 16px;

			&:hover, &:active, &:focus{
				color: $blanco;
				background-color: $naranja;
			}
		}
	}
}
