@import "screen_size";
@import "thumbnail";

#alert-empty {
	min-height: 120px;
	margin: 15px;
	margin-top: 0;
	.glyphicon-warning-sign {
		font-size: 64px;
		line-height: 88px;
	}
}

@media (max-width: $screen-sm-max) {
	#alert-empty {
	margin: 0;
	margin-bottom: 15px;
}

}